/data/belgium_B1_1415.csv
/data/belgium_B1_1516.csv
/data/belgium_B1_1617.csv
/data/belgium_B1_1718.csv
/data/belgium_B1_1819.csv
/data/belgium_B1_1920.csv
/data/belgium_B1_2021.csv
/data/belgium_B1_2122.csv
/data/belgium_B1_2223.csv
/data/belgium_B1_2324.csv
/data/england_E0_1415.csv
/data/england_E0_1516.csv
/data/england_E0_1617.csv
/data/england_E0_1718.csv
/data/england_E0_1819.csv
/data/england_E0_1920.csv
/data/england_E0_2021.csv
/data/england_E0_2122.csv
/data/england_E0_2223.csv
/data/england_E0_2324.csv
/data/england_E1_1415.csv
/data/england_E1_1516.csv
/data/england_E1_1617.csv
/data/england_E1_1718.csv
/data/england_E1_1819.csv
/data/england_E1_1920.csv
/data/england_E1_2021.csv
/data/england_E1_2122.csv
/data/england_E1_2223.csv
/data/england_E1_2324.csv
/data/france_F1_1415.csv
/data/france_F1_1516.csv
/data/france_F1_1617.csv
/data/france_F1_1718.csv
/data/france_F1_1819.csv
/data/france_F1_1920.csv
/data/france_F1_2021.csv
/data/france_F1_2122.csv
/data/france_F1_2223.csv
/data/france_F1_2324.csv
/data/france_F2_1415.csv
/data/france_F2_1516.csv
/data/france_F2_1617.csv
/data/france_F2_1718.csv
/data/france_F2_1819.csv
/data/france_F2_1920.csv
/data/france_F2_2021.csv
/data/france_F2_2122.csv
/data/france_F2_2223.csv
/data/france_F2_2324.csv
/data/germany_D1_1415.csv
/data/germany_D1_1516.csv
/data/germany_D1_1617.csv
/data/germany_D1_1718.csv
/data/germany_D1_1819.csv
/data/germany_D1_1920.csv
/data/germany_D1_2021.csv
/data/germany_D1_2122.csv
/data/germany_D1_2223.csv
/data/germany_D1_2324.csv
/data/germany_D2_1415.csv
/data/germany_D2_1516.csv
/data/germany_D2_1617.csv
/data/germany_D2_1718.csv
/data/germany_D2_1819.csv
/data/germany_D2_1920.csv
/data/germany_D2_2021.csv
/data/germany_D2_2122.csv
/data/germany_D2_2223.csv
/data/germany_D2_2324.csv
/data/greece_G1_1415.csv
/data/greece_G1_1516.csv
/data/greece_G1_1617.csv
/data/greece_G1_1718.csv
/data/greece_G1_1819.csv
/data/greece_G1_1920.csv
/data/greece_G1_2021.csv
/data/greece_G1_2122.csv
/data/greece_G1_2223.csv
/data/greece_G1_2324.csv
/data/italy_I1_1415.csv
/data/italy_I1_1516.csv
/data/italy_I1_1617.csv
/data/italy_I1_1718.csv
/data/italy_I1_1819.csv
/data/italy_I1_1920.csv
/data/italy_I1_2021.csv
/data/italy_I1_2122.csv
/data/italy_I1_2223.csv
/data/italy_I1_2324.csv
/data/italy_I2_1415.csv
/data/italy_I2_1516.csv
/data/italy_I2_1617.csv
/data/italy_I2_1718.csv
/data/italy_I2_1819.csv
/data/italy_I2_1920.csv
/data/italy_I2_2021.csv
/data/italy_I2_2122.csv
/data/italy_I2_2223.csv
/data/italy_I2_2324.csv
/data/netherlands_N1_1415.csv
/data/netherlands_N1_1516.csv
/data/netherlands_N1_1617.csv
/data/netherlands_N1_1718.csv
/data/netherlands_N1_1819.csv
/data/netherlands_N1_1920.csv
/data/netherlands_N1_2021.csv
/data/netherlands_N1_2122.csv
/data/netherlands_N1_2223.csv
/data/netherlands_N1_2324.csv
/data/portugal_P1_1415.csv
/data/portugal_P1_1516.csv
/data/portugal_P1_1617.csv
/data/portugal_P1_1718.csv
/data/portugal_P1_1819.csv
/data/portugal_P1_1920.csv
/data/portugal_P1_2021.csv
/data/portugal_P1_2122.csv
/data/portugal_P1_2223.csv
/data/portugal_P1_2324.csv
/data/scotland_SC0_1415.csv
/data/scotland_SC0_1516.csv
/data/scotland_SC0_1617.csv
/data/scotland_SC0_1718.csv
/data/scotland_SC0_1819.csv
/data/scotland_SC0_1920.csv
/data/scotland_SC0_2021.csv
/data/scotland_SC0_2122.csv
/data/scotland_SC0_2223.csv
/data/scotland_SC0_2324.csv
/data/scotland_SC1_1415.csv
/data/scotland_SC1_1516.csv
/data/scotland_SC1_1617.csv
/data/scotland_SC1_1718.csv
/data/scotland_SC1_1819.csv
/data/scotland_SC1_1920.csv
/data/scotland_SC1_2021.csv
/data/scotland_SC1_2122.csv
/data/scotland_SC1_2223.csv
/data/scotland_SC1_2324.csv
/data/spain_SP1_1415.csv
/data/spain_SP1_1516.csv
/data/spain_SP1_1617.csv
/data/spain_SP1_1718.csv
/data/spain_SP1_1819.csv
/data/spain_SP1_1920.csv
/data/spain_SP1_2021.csv
/data/spain_SP1_2122.csv
/data/spain_SP1_2223.csv
/data/spain_SP1_2324.csv
/data/spain_SP2_1415.csv
/data/spain_SP2_1516.csv
/data/spain_SP2_1617.csv
/data/spain_SP2_1718.csv
/data/spain_SP2_1819.csv
/data/spain_SP2_1920.csv
/data/spain_SP2_2021.csv
/data/spain_SP2_2122.csv
/data/spain_SP2_2223.csv
/data/spain_SP2_2324.csv
/data/turkey_T1_1415.csv
/data/turkey_T1_1516.csv
/data/turkey_T1_1617.csv
/data/turkey_T1_1718.csv
/data/turkey_T1_1819.csv
/data/turkey_T1_1920.csv
/data/turkey_T1_2021.csv
/data/turkey_T1_2122.csv
/data/turkey_T1_2223.csv
/data/turkey_T1_2324.csv
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/.gitignore
/.idea/csv-editor.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/other.xml
/.idea/Praca Inżynierska.iml
/.idea/vcs.xml
